.modal-backdrop {
  background: rgba(17, 17, 17, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
  overflow: hidden;

  .modal-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

.create-edit-lobby-modal {
  padding: 40px;
  background: #938ac6;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .close {
    color: #aaa;
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 28px;
  }

  .form-row {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0.75fr 0.5fr;
    width: 100%;
    .form-row-label {
      display: flex;
      align-items: center;
    }
    .form-row-input {
      margin-left: 20px;
      input,
      select {
        padding: 10px;
        width: 140px;
      }
    }
  }

  .submit {
    margin-top: 30px;
    padding: 10px;
  }
}

.modal-backdrop {
  .modal-inner.interrupting-message-wrapper {
    align-items: flex-start;
  }
}

.interrupting-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .message-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
  }
}
