.main-wrapper {
  position: relative;
  .leave-button {
    position: absolute;
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
  }
}

.cell {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.white {
    background: white;
  }
  &.black {
    background: black;
  }
}

.piece {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  &.red {
    background: red;
  }
  &.white {
    background: brown;
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.player-label-container {
  display: flex;
  justify-content: center;

  .player-label {
    border-radius: 40px;
    padding: 8px 30px;
    display: inline-block;
    &.selected {
      -webkit-animation: glowing 1300ms infinite;
      -moz-animation: glowing 1300ms infinite;
      -o-animation: glowing 1300ms infinite;
      animation: glowing 1300ms infinite;
    }
  }
}

@-webkit-keyframes glowing {
  0% {
    background-color: #0091b2;
    -webkit-box-shadow: 0 0 3px #0091b2;
  }
  50% {
    background-color: #21c7ed;
    -webkit-box-shadow: 0 0 15px #21c7ed;
  }
  100% {
    background-color: #0091b2;
    -webkit-box-shadow: 0 0 3px #0091b2;
  }
}
@keyframes glowing {
  0% {
    background-color: #0091b2;
    box-shadow: 0 0 3px #0091b2;
  }
  50% {
    background-color: #21c7ed;
    box-shadow: 0 0 15px #21c7ed;
  }
  100% {
    background-color: #0091b2;
    box-shadow: 0 0 3px #0091b2;
  }
}
.svg-btn {
  display: block;
  width: 230px;
  height: 230px;
  margin-left: 10px;
}
svg {
  fill: blue;
  -webkit-animation: glowing-polygon 1300ms infinite;
  -moz-animation: glowing-polygon 1300ms infinite;
  -o-animation: glowing-polygon 1300ms infinite;
  animation: glowing-polygon 1300ms infinite;
}
@-webkit-keyframes glowing-polygon {
  0% {
    fill: #0091b2;
    -webkit-filter: drop-shadow(0 0 3px #0091b2);
  }
  50% {
    fill: #21c7ed;
    -webkit-filter: drop-shadow(0 0 15px #21c7ed);
  }
  100% {
    fill: #0091b2;
    -webkit-filter: drop-shadow(0 0 3px #0091b2);
  }
}
@keyframes glowingPolygon {
  0% {
    fill: #0091b2;
    filter: drop-shadow(0 0 3px #0091b2);
  }
  50% {
    fill: #21c7ed;
    filter: drop-shadow(0 0 15px #21c7ed);
  }
  100% {
    fill: #0091b2;
    filter: drop-shadow(0 0 3px #0091b2);
  }
}
